/**
    HEADER
 */
header{
}

#logoProjet{
    float: left;
}
#logoBoussole{
    height: 50px;
}

#logoGrandLyon{
}
#logoMetropole{
    float: right;
    height: 50px;
}

#enTeteNavigation{
    padding-top: 10px;
    clear: both;
    border-top: 3px solid #F32020;
    border-bottom: 2px solid rgba(243,32,32,0.07);
    background-color: #F3E5E5;
}
#raccourcisNavigation{
    padding-left: 25px;
}
#imageNouveauParcours{
    height: 25px;
    padding-right: 25px;
    padding-left: 15px;
}
#imageImpression{
    height: 25px;
    padding-right: 25px;
    padding-left: 15px;
}
#raccourcisAction{
    float:right;
}

/**
    CORPS PRINCIPAL
 */
.blocGauche{
    float: left;
}
.blocDroite{
    float: right;
}
#blocProfilVisiteur{
    width: 60%;
    margin: auto;
    margin-top: 7%;
}
.blocMasquable{
    display: none;
}
.boutonGauche{
    background-color: lightgray;
    border-radius: 15px 0 0 15px;
    padding: 5px;
}
.boutonDroite{
    background-color: lightgray;
    border-radius: 0 15px 15px 0;
    padding: 5px;
}

.blocBoutons{
    padding-top: 50px;
    clear: both;
}
.blocBoutonSuivant{
    float: right;
}
.blocBoutonPrecedent{
    float: left;
}

#blocBesoinVisiteur{
    width: 40%;
    margin: auto;
}

#blocResultatsVisiteurs{
    width: 75%;
    margin: auto;
}
#blocListeResultats{
    width: 40%;
    border-top:3px solid #F32020;
    height: 600px;
    overflow: scroll;
}
.blocResultat{
    padding-left: 20px;
}
.baliseResultat {
    width: 20px;
}
.titreAsso{
    font-weight: bold;
    padding-top: 10px;
}
.boutonPlus{
    width: 15px;
    margin-right: 10px;
}
.adresseAsso{
}
.imageTelephone{
    width: 20px;
}
#blocDessinResultats{
    width: 500px;
    height: 400px;
}

#blocRecapitulatif{
    width:80%;
    margin: auto;
}
.blocRecapResultat{
    clear: both;
    padding-top: 5%;
}
.blocRecapPicto{
    width: 5%;
}
.blocInfoRecap{
    width: 55%;
    border-left: 3px solid #F32020;
    padding-left: 5%;
    padding-right: 20px;
}
.titreInfoRecap{
    padding-left: 3%;
    color: red;
}
.encartNotes{
    width: 75%;
    height: 5%;
}
.blocCarte{
    width:40%;
    height: 300px;
}
/**
    FOOTER
 */



/**
    GÉNÉRAL
 */
.gris{
    background-color: lightgray;
}
.blanc{
    background-color: floralwhite;
}
.souligne{
    text-decoration: underline;
}
.selection{
    background-color: #ffcad2;
}


/**
    VUE PARTENAIRE
 */
#blocInformation{
    width: 50%;
    margin: auto;
    padding-top: 50px;
}
#titreInfoPartenaire{
    margin-left: 35px;
}
#nomPartenaire{
    margin-left: 75px;
}
#baliseAdressePartenaire{
    margin-left: 35px;
}
#adressePartenaire{
    margin-left: 5px;
}
#imageTelephonePartenaire{
    margin-left: 35px;
}
#telephonePartenaire{
    margin-left: 5px;
}
#imageHorairePartenaire{
    margin-left: 35px;
}
#horairesPartenaire{
    margin-left: 25px;
}
.horaireQuotidien{
    float: left;
    width: 75px;
}
.boutonSuivant{
    color: red;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

#blocPublicPartenaire{
    width: 40%;
    margin: auto;
    padding-top: 50px;
}
#textPartenaireAgeMin{
    float: left;
    width: 75px;
}
#textPartenaireAgeMax{
    float: left;
    width: 75px;
}
#boutonAgeMinimum{
    float: left;
    width: 75px;
}
#boutonAgeMaximum{
    float: left;
    width: 75px;
}
#blocBesoinVisiteurs{
    width: 40%;
    margin: auto;
    padding-top: 50px;
}