/**
    HEADER
 */
header{
}

#logoProjet{
    float: left;
}
#logoIRI{
    height: 100px;
}

#logoGrandLyon{
}
#logoMetropole{
    float: right;
    height: 100px;
}

#enTeteNavigation{
    padding-top: 10px;
    clear: both;
    border-top: 3px solid #F32020;
    border-bottom: 2px solid rgba(243,32,32,0.07);
    background-color: #F3E5E5;
}
#raccourcisNavigation{
    padding-left: 25px;
}
#imageNouveauParcours{
    height: 25px;
    padding-right: 25px;
    padding-left: 15px;
}
#imageImpression{
    height: 25px;
    padding-right: 25px;
    padding-left: 15px;
}
#raccourcisAction{
    float:right;
}

/**
    CORPS PRINCIPAL
 */
.blocGauche{
    float: left;
}
.blocDroite{
    float: right;
}
#blocProfilVisiteur{
    width: 60%;
    margin: auto;
    margin-top: 7%;
}
.blocMasquable{
    display: none;
}
.boutonGauche{
    background-color: lightgray;
    border-radius: 15px 0 0 15px;
    padding: 5px;
}
.boutonDroite{
    background-color: lightgray;
    border-radius: 0 15px 15px 0;
    padding: 5px;
}

.blocBoutonSuivant{
    clear: both;
    float: right;
}

#blocBesoinVisiteur{
    width: 40%;
    margin: auto;
}
/**
    FOOTER
 */
